{
   "query":{
      "bool":{
         "must":[
            {
               "range":{
                  "update_time":{
                     "gt":"{{time_from}}",
                     "lt":"{{time_to}}"
                  }
               }
            },
            {
               "wildcard":{
                  "metric_key":"{{metric_type}}"
               }
            }
         ],
         "must_not":[
            
         ],
         "should":[
            
         ]
      }
   },
   "from":{{start_from}},
   "size":{{result_size}},
   "sort":[
      
   ],
   "aggs":{
      
   }
}