<html>
  <head></head>
  <body>
    <p>Salut!</p>
    <p>Cela ressemble à un excellent
        <a href="https://avatars2.githubusercontent.com/u/12369308?s=400&u=7c0e00191e1f05956619417b8c2b3c1cf0bdd906&v=4">
            recipie
        </a> déjeuner.
    </p>
    <img src="https://avatars2.githubusercontent.com/u/12369308?s=400&u=7c0e00191e1f05956619417b8c2b3c1cf0bdd906&v=4" />
  </body>
</html>